NIM/Nama: 16523235/Rafif Reinhart Al Aflah
Tanggal: 8 November 2023
Deskripsi: Program menentukan nilai mahasiswa yang tertinggi dan di bawah rata-rata,serta banyaknya mahasiswa dalam fakultas

In [1]:
import pandas as pd
#menampilkan nilai matematika,fisika, dan kimia Tuan Ric
df = pd.read_csv("H05.csv")

nilai = (df.loc[(df["nama"] == "Tuan Ric")])

print(nilai)

          nama fakultas  nilai_mat  nilai_kim  nilai_fis
3513  Tuan Ric     STEI      96.78      62.23      30.53

In [2]:
import pandas as pd
#mengurutkan nilai fisika tertinggi hingga terkecil
df = pd.read_csv("H05.csv")

print(df.sort_values (["nilai_fis"], ascending =[0])) #data nilai fisika tertinggi ke rendah

                         nama fakultas  nilai_mat  nilai_kim  nilai_fis
1936  Yuniar Fazriani Rusmana     FITB      53.61      67.19      92.57
4145                    Grace    SAPPK      62.23      68.08      90.46
918            Siti Munawaroh     STEI      62.22      73.93      90.13
1147             Feruz Kausar     STEI      81.61      76.12      88.40
2074            Sandi Suryadi     STEI      79.17      73.81      86.83
...                       ...      ...        ...        ...        ...
372          Muhammad Syirazi      FTI      52.96       5.31      15.81
1445            Erwin Hariadi     STEI      87.95       2.09      14.43
4772     Emirza Faisal Dahlan    SITHS      72.59      14.19      12.94
3534          Evelyn Melindra     STEI      77.56       7.83      11.10
4459             Firda Amalia    FMIPA      95.58      10.10       9.11

[5135 rows x 5 columns]

In [1]:
import pandas as pd
#mencari 10 mahasiswa dengan nilai kimia tertinggi
df = pd.read_csv("H05.csv")

print(df.sort_values(["nilai_kim"], ascending=[0])[0:10])

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
2554      Faathir Reza Avicena     FTSL      57.12      81.50      78.68
2779      Dinda A A Z Mundakir     STEI      41.18      81.34      82.60
3544        Tammya Ayu Purnomo    SITHS      74.49      81.20      78.58
4934    Alyssa Nadhira Windari     FTMD      78.38      78.83      78.68
1137          Izni Nur Ibrahim     STEI      56.70      78.46      84.34
2262      Rinaldi Oky Setiawan     STEI      71.22      77.44      83.66
4070      Ias Azhari Rezkyarno    FMIPA      62.85      76.90      81.52
2945           Klara Petra T T     FTSL      73.39      76.61      78.12
1788  Naudy Germanimo Laksmana     FTMD      62.29      76.38      76.15
1310       Mardliyahtur Rohmah     STEI      63.15      76.36      74.06

In [29]:
import pandas as pd
#mencari banyaknya nilai matematika di bawah 50
df = pd.read_csv("H05.csv")
n50 = len(df.loc[(df["nilai_mat"] < 50)])
print(f"banyaknya nilai matematika di bawah 50: {n50} orang")

# n50 = (df.loc[(df["nilai_mat"] < 50)]).value_counts()
# print(n50)

banyaknya nilai matematika di bawah 50: 329 orang

In [22]:
import pandas as pd

df = pd.read_csv("H05.csv")
nFMIPA = len(df.loc[df["fakultas"] == "FMIPA"])
print(f"mahasiswa FMIPA sebanyak {nFMIPA} orang\n")

# nFMIPA = (df.loc[df["fakultas"] == "FMIPA"]).value_counts()
# print(nFMIPA)

mahasiswa FMIPA sebanyak 627 orang