In [11]:
import pandas as pd
#banyak rumah berdasarkan status izin membawa hewan
df = pd.read_csv("P05-02.csv")
# print(df.loc[(df["animal"]== "acept")].value_counts()) #yang diizinkan
print("1. :")
data = df["animal"].value_counts()
print(data.to_string()) #untuk yang boleh dan tidak diizinkan peliharaan

1. :
animal
acept        6323
not acept    1908

In [12]:
#kota dengan jumlah area terbanyak
import pandas as pd
df = pd.read_csv("P05-02.csv")
print("2. :")
data = df["city"].value_counts()
print(data [0:1].to_string())

2. :
city
Sao Paulo    4273

In [15]:
print("3. : ")
data = df.sort_values(["total"], ascending = [1])
print(data[:5])

3. :
                city  area  rooms  bathroom  parking_spaces  floor     animal  \
4534  Rio de Janeiro    30      1         1               1      3      acept
7178  Rio de Janeiro    30      1         1               1      3      acept
7876  Belo Horizonte    25      1         1               1      1  not acept
3267  Belo Horizonte    20      1         1               0      1  not acept
3725  Belo Horizonte    30      1         1               0      2      acept

          furniture  homeowner_tax  rent_amount  property_tax  fire_insurance  \
4534  not furnished              0          500             0               7
7178  not furnished              0          500             0               7
7876  not furnished              0          500            38               7
3267  not furnished              0          500            42               7
3725  not furnished              0          525            25               7

      total
4534    507
7178    507
7876    545
3267    549
3725    557

In [36]:
print("4. :")
print(df.loc[(df["city"] == "Porto Alegre" )])

              city  area  rooms  bathroom  parking_spaces  floor     animal  \
2     Porto Alegre    80      1         1               1      6      acept
3     Porto Alegre    51      2         1               0      2      acept
29    Porto Alegre    38      1         1               2     11  not acept
31    Porto Alegre    40      1         1               1      6      acept
38    Porto Alegre    42      1         1               2      2      acept
...            ...   ...    ...       ...             ...    ...        ...
8190  Porto Alegre   400      4         2               2     15      acept
8214  Porto Alegre   220      3         2               2     15      acept
8216  Porto Alegre    40      1         1               0      1      acept
8222  Porto Alegre   160      3         2               3      4      acept
8227  Porto Alegre    63      2         1               1      5  not acept

          furniture  homeowner_tax  rent_amount  property_tax  fire_insurance  \
2     not furnished           1000         2800             0              41
3     not furnished            270         1112            22              17
29    not furnished            450         1750             0              26
31        furnished            390         2990             0              44
38        furnished            190         1770            17              26
...             ...            ...          ...           ...             ...
8190      furnished           2250         6300           500              92
8214  not furnished            842         2400           117              36
8216  not furnished            330         1200           159              18
8222      furnished            850         3300           220              49
8227      furnished            402         1478            24              22

      total
2      3841
3      1421
29     2226
31     3424
38     2003
...     ...
8190   9142
8214   3395
8216   1707
8222   4419
8227   1926

[999 rows x 13 columns]

In [19]:
korelasi = df["rooms"].corr(df["bathroom"])
print(korelasi)
if korelasi > 1/3:
    print("Berkolerasi lurus")
    print(f"jarak dari 1 adalah {1-korelasi}")
    print(f"jarak dari -1 adalah {-1-korelasi}")

elif korelasi < -1/3:
    print("Berkolerasi terbalik")
    print(f"jarak dari 1 adalah {1-korelasi}")
    print(f"jarak dari -1 adalah {-1-korelasi}")
else:
    print("Tidak berkolerasi")
    print(f"jarak dari 1 adalah {1-korelasi}")
    print(f"jarak dari -1 adalah {-1-korelasi}")

#grafiknya naik sehingga nilai nya linear positif antara rooms dan bathroom

0.7248371778082944
Berkolerasi lurus
jarak dari 1 adalah 0.2751628221917056
jarak dari -1 adalah -1.7248371778082943