In [4]:
# NIM/Name  : 16923334 / Aydin Naufal Satwika Nugroho
# Date      : 14/11/2023
# Deskripsi : Solution for a Problem set 2

# DICTIONARY :
# Import = pd (pandas)
# Data Frame (Table) = main_table , area_min , set1 , set3 , set4, set 5 , sort_bath

import pandas as pd # Importing pandas package to be used

main_table = pd.read_csv("P05-02.csv")
# Declaring the source file of the csv we are going to use

print("#  PROBLEM  2  :")
print("=======================================================")

#  PROBLEM  2  :
=======================================================

In [55]:
print("1.  :")
# selecting the house data which is furnushed and have a parking spaces
set1 = main_table.loc[(main_table["furniture"] == "furnished") & (main_table["parking_spaces"] < 1) ]
# printing out the result on the total of data of which properties
print("Terdapat", (set1.city.count()), "rumah yang sudah dilengkapi furnitur tetapi tidak terdapat tempat parkir")

print("-------------------------------------------------------")

1.  :
Terdapat 546 rumah yang sudah dilengkapi furnitur tetapi tidak terdapat tempat parkir
-------------------------------------------------------

In [34]:
print("2.  :")
# selecting the data with the least value of area
area_min = main_table["area"].idxmin()
# printing out the data table with minimum area
print(main_table[area_min:area_min+1])
print("-------------------------------------------------------")

2.  :
          city  area  rooms  bathroom  parking_spaces  floor     animal  \
593  Sao Paulo    11      1         1               0      1  not acept

     furniture  homeowner_tax  rent_amount  property_tax  fire_insurance  \
593  furnished            300         2000            42              26

     total
593   2368
-------------------------------------------------------

In [57]:
print("3.  :")
# selecting the data with rooms more than 2 and price below 3000
set3 = main_table.loc[(main_table["rooms"] > 2) & (main_table["total"] < 3000) ]
# printing out the result
print("terdapat",set3.city.count(), "rumah dengan jumlah kamar tidur di atas 2 dan harga sewa total per tahun di bawah 3000")

print("-------------------------------------------------------")

3.  :
terdapat 637 rumah dengan jumlah kamar tidur di atas 2 dan harga sewa total per tahun di bawah 3000
-------------------------------------------------------

In [2]:
print("4.  :")
import pandas as pd # Importing pandas package to be used

main_table = pd.read_csv("P05-02.csv")
# sorting the data on which have an area more than 100
set4 = main_table.loc[(main_table["area"] > 100) ]
# printing the result catagorized by each city
print((set4["city"].value_counts()))

print("-------------------------------------------------------")

4.  :
city
Sao Paulo         1909
Rio de Janeiro     440
Belo Horizonte     386
Porto Alegre       212
Campinas           146
Name: count, dtype: int64
-------------------------------------------------------

In [44]:
print("5.  :")
# selecting data with city located in Campinas
set5 = main_table.loc[(main_table["city"] == "Campinas")]
# sorting the set5 data based on bathroom number on descending values
sort_bath = set5.sort_values(["bathroom"], ascending =[0])
# selecting the top 5 data to be printed
print(sort_bath[0:5])

print("-------------------------------------------------------")

5.  :
          city  area  rooms  bathroom  parking_spaces  floor animal  \
2331  Campinas   244      5         7               4     12  acept
1766  Campinas   400      5         7               4      5  acept
5077  Campinas   500      3         7               5     14  acept
1473  Campinas   660      5         7               4     17  acept
426   Campinas   398      5         6               0      2  acept

          furniture  homeowner_tax  rent_amount  property_tax  fire_insurance  \
2331  not furnished           1600         8000           500             102
1766  not furnished           3200         7900           888             101
5077      furnished           1890         7950           900             101
1473  not furnished           5381        10000          1100             127
426   not furnished           3500         8500           700             108

      total
2331  10200
1766  12090
5077  10840
1473  16610
426   12810
-------------------------------------------------------