In [15]:
import pandas as pd
input_data = {}
input_data ["A"] = [0 for i in range(5)]
input_data ["B"] = [0 for i in range(5)]
for i in range(5):
    input_data ["A"][i] = input("A[" + str(i + 1) + "]= ")
for i in range(5):
    input_data ["B"][i] = input("B[" + str(i + 1) + "] ")
df = pd. DataFrame (data=input_data)
print(df)

A[1]=  1
A[2]=  2
A[3]=  3
A[4]=  1
A[5]=  3
B[1]  1
B[2]  2
B[3]  3
B[4]  4
B[5]  1

   A  B
0  1  1
1  2  2
2  3  3
3  1  4
4  3  1

In [1]:
import pandas as pd

df = pd.read_csv("H05.csv")

print(df)

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
0         Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1               Steven Margono    FMIPA      67.43      51.50      57.20
2                 Ryan Sentosa    SAPPK      90.62      37.38      40.73
3         Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4             Alvin Natawiguna     FTSL      65.45      57.67      56.39
...                        ...      ...        ...        ...        ...
5130               Khoirrashif    SITHR      66.14      46.82      56.74
5131      Jefri Hendri Adriano     FTSL      53.68      34.74      33.76
5132               Iki Hidayat     FITB      69.63      35.04      37.65
5133  Muhammad Nashir Sitompul      FTI      79.69      39.06      50.17
5134     Billy Richardo Sagala     STEI      68.68      51.23      66.18

[5135 rows x 5 columns]